<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">
<main class="form-signin w-100 m-auto">
    <!-- Example Code -->
  <h1>Wallet </h1>
  <h5>{{i.Amount}}</h5>
  <div class="card card-body">
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Cr/Dr</th>
            <th>Remarks</th>
            
        </tr>

        {% for i in products %}
            <tr>
                <td>{{i.Date}}</td>
                <td>{{i.Amount}}</td>
                <td>{{i.Cr}}</td>
                <td>{{i.Remarks}}</td>
            </tr>
        {% endfor %}
        
    </table>
</div>

  
<a href="logout" class="link-warning">Logout</a><br>
  
  </body>
</html>